@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<string> ErroorMassages = ViewBag.ErroorMassages;

    Layout = "_Layout";
}

<div class="container mt-3">
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <h2>用戶密碼更新</h2>
            <div class="alert alert-info">
                請填寫下面資訊來更新用戶密碼
            </div>
            @if (ErroorMassages.Count > 0)
            {
                <div class="alert alert-warning" id="ErrorMsgTag">
                    <h3>錯誤事項</h3>
                    @foreach (string item in ErroorMassages)
                    {
                        <p>@item</p>
                    }
                </div>
            }

            <form asp-area="Auth" asp-controller="Auth001" asp-action="Auth001UpdatePassword" id="myForm"
                  method="post">

                <div class="form-group">
                    <span>*</span>
                    <label class="control-label" for="UserName">用戶帳號名稱 :</label>
                    <input class="form-control" id="UserName" name="UserName" value="@ViewBag.UserName" required />
                </div>
                <div class="form-group">
                    <span>*</span>
                    <label class="control-label" for="Email">用戶Email :</label>
                    <input class="form-control" id="Email" name="Email" value="@ViewBag.Email" type="email" required />
                </div>
                <div class="form-group">
                    <span>*</span>
                    <label class="control-label" for="password_old">用戶舊密碼 :</label>
                    <input class="form-control" id="password_old" name="password_old" value="@ViewBag.password_old" required />
                </div>
                <div class="form-group">
                    <span>*</span>
                    <label class="control-label" for="password_new">用戶新密碼 :</label>
                    <input class="form-control" id="password_new" name="password_new" value="@ViewBag.password_new" required />
                </div>

                <br />
                <div class="form-group text-end">
                    <input type="submit" value="Send" class="btn btn-info" />
                </div>
            </form>

        </div>
    </div>
</div>

<script src="~/js/jquery-3.7.0.min.js"></script>

<script>
    $(document).ready(function() {
        $('#myForm').submit(function(event) {
            var ErrorMsgTag = document.querySelector("#ErrorMsgTag");
            if (ErrorMsgTag) {
                ErrorMsgTag.remove();
            }
            event.preventDefault(); // 阻止表單預設提交行為
            Swal.fire({
                title: '發送請求中',
                html: '請耐心等候...',
                timer: 1000,
                didOpen: () => {
                    Swal.showLoading();
                    const b = Swal.getHtmlContainer().querySelector('b');
                    timerInterval = setInterval(() => {
                        b.textContent = Swal.getTimerLeft();
                    }, 100);
                },
                willClose: () => {
                    clearInterval(timerInterval);
                    // 在此處執行您想要的操作
                    // 將提取的行為代碼放在這裡
                    $('#myForm').unbind('submit').submit(); // 延遲3秒後重新提交表單
                }
            })
        });
    });
</script>